certifi==2023.7.22 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.2.0 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13"
dropbox==11.36.2 ; python_version >= "3.11" and python_version < "3.13"
idna==3.4 ; python_version >= "3.11" and python_version < "3.13"
kfs==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
lxml==4.9.3 ; python_version >= "3.11" and python_version < "3.13"
pillow==9.5.0 ; python_version >= "3.11" and python_version < "3.13"
ply==3.11 ; python_version >= "3.11" and python_version < "3.13"
pytz==2023.3.post1 ; python_full_version >= "3.11.0" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
stone==3.3.1 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.0.4 ; python_version >= "3.11" and python_version < "3.13"
